.note {
  background-color: $color-white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;

  &__heading {
    font-size: 3rem;
    padding: 2rem;
    border-bottom: $inner-border;
  }
}

.note__main {
  @extend .note;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  img {
    width: 15rem;
    height: 15rem;
  }
}

.note__view {
  @extend .note;
  height: 100%;
  padding: 3rem;

  &--title {
    font-size: 4rem;
    line-height: 1.1;
    padding-bottom: 2.5rem;
  }

  &--meta {
    text-align: right;
    border-bottom: $inner-border;

    &--date {
      font-size: 2rem;
      font-weight: 500;
    }

    &--time {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }

  &--content {
    flex: 1;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    overflow: scroll;
  }

  &__control {
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;

    &--edit,
    &--delete,
    &--restore {
      @extend .button;
      height: 4rem;
      font-size: 1.8rem;
      font-weight: 2rem;
      background-color: transparent;
    }

    &--edit {
      color: $color-orange;
      margin-right: 1rem;

      &:hover {
        background: $color-orange;
        color: $color-white;
      }
    }

    &--delete {
      color: $color-red;
      border-color: $color-red;

      &:hover {
        border-color: $color-red;
        background: $color-red;
        color: $color-white;
      }
    }

    &--restore {
      color: $color-blue;
      border-color: $color-blue;
      width: 10rem;

      &:hover {
        border-color: $color-blue;
        background: $color-blue;
        color: $color-white;
      }
    }
  }
}

.note__form {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;

  label {
    color: #777;
    align-self: start;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 0.5rem 0;
  }

  input,
  textarea {
    color: #444;
    font-size: 1.7rem;
    font-family: "Quicksand";
    border: none;
    padding: 1rem;
    border: 1px solid rgba(218, 218, 218, 0.767);
    border-radius: 4px;

    &:focus {
      border-color: rgba(167, 167, 167, 0.5);
      outline: none;
    }
  }

  textarea {
    height: 100%;
  }

  button {
    @extend .button;
  }
}
