*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: hidden;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  background: #dbe6f6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dbe6f6,
    #c7a49f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dbe6f6,
    #c7a49f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Quicksand";
  color: #555;
  font-weight: 300;
  line-height: 1.6;
}
* > li {
  list-style: none;
}
* > a {
  text-decoration: none;
  color: inherit;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app {
  border: 1px solid rgba($color-grey-dark, 0.2);
  border-radius: 5px;
  min-width: 120rem;
  height: 80vh;
  display: flex;
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.23);
}
