.sidebar {
  background-color: $color-grey-dark;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: $color-white;
  width: 15rem;
  display: flex;
  flex-direction: column;

  & > * {
    cursor: pointer;
  }

  &__brand {
    font-family: "Bad Script";
    font-size: 2.5rem;
    margin: 2rem 0;
    padding: 0 3rem;
  }

  &__write {
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    transition: all 0.2s;
  }

  &__nav {
    &__item {
      color: $color-white-off;
      font-size: 1.5rem;
      padding: 0.5rem 2rem;
      transition: all 0.2s;
    }
  }

  &__write:hover,
  &__nav__item:hover {
    background-color: lighten($color-grey-dark, 7%);
  }
}
